<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Login</title>
        <link rel="stylesheet" type="text/css" th:href="@{/map_style.css}" href="../static/map_style.css"/>
    </head>
    <body>

        <nav class="nav">
            <li><a href="/map"><h2>Map</h2></a></li>
            <li><a href="/register"><h2>Register</h2></a></li>
        </nav>





        <form class="form" th:action="@{/login}" method="POST">
            <h2>Login</h2>
            <input type="text" name="username" placeholder="Username"/>
            <input type="text" name="password" placeholder="Password"/>
            <button type="submit">Login</button>
        </form>
    </body>
</html>