<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Login</title>
    </head>
    <body>

        <nav>
            <a href="/map">Map</a>
            <a href="/register">Register</a>
        </nav>

        <h2>Login</h2>

        <form action="/login" method="POST">
            <input type="text" name="user" placeholder="Username"/>
            <input type="text" name="password" placeholder="Password"/>
            <button type="submit">Login</button>
        </form>



    </body>
</html>