<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/map_style.css}" href="../static/map_style.css" />
</head>
<body>

    <nav class="nav">
        <li><a href="/login"><h2>Login</h2></a></li>
        <li><a href="/register"><h2>Register</h2></a></li>
        <li><div class="signout" sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Sign Out"/>
            </form>
        </div></li>
        <li><div class="signout"><div th:if="${param.logout}">
            You have been logged out.
        </div></div></li>
    </nav>

    <div class="container">
        <h3>Meteorite Map Tool</h3>
        <div id="map"></div>
        <input type="text" id="pac-input" placeholder="Search Location"/>
        <form class="map-form" action="/api/meteorites" method="GET">
            <fieldset>
                <legend class="fieldset">Search Meteorites By Year</legend>
                <input id="min" type="text" name="min" min="860" placeholder="Start Year"/>
                <input id="max" type="text" name="max" max="2015" placeholder="End Year"/>
                <button id="button" type="submit">Search</button>
            </fieldset>
        </form>
        <div th:authorize="isAuthenticated()">
            <form class="map-form" action="/add_meteorite" method="POST">
                <fieldset>
                    <legend class="fieldset">Record Your Meteorite</legend>
                    <input type="text" name="name" placeholder="Name"/>
                    <input type="text" name="nameType" placeholder="Name Type"/>
                    <input type="text" name="recClass" placeholder="Class"/>
                    <input type="number" name="mass" placeholder="Mass(g)"/>
                    <input type="text" name="fall" placeholder="Observed Fall or Found"/>
                    <input type="number" name="year" placeholder="Year Discovered"/>
                    <input type="text" name="recLat" placeholder="Latitude"/>
                    <input type="text" name="recLong" placeholder="Longitude"/>
                    <button type="submit">Submit</button>
                </fieldset>
            </form>
        </div>

        <div>
            <h2 th:text="${message}"></h2>
        </div>
    </div>



    <script th:inline="javascript">

        /*<![CDATA[*/

        let map;
        let markers;
        let bounds;

        function initMap() {

            var origin = {lat: 32.897480, lng: -97.040443};
            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 7,
                center: origin
            });
            var marker = new google.maps.Marker({
                position: origin,
                map: map,
                visible: false
            });
        }

        const button = document.querySelector("#button");
        const min = document.querySelector("#min");
        const max = document.querySelector("#max");


        var input = document.querySelector("#pac-input");
        var searchBox = new google.maps.places.SearchBox(input);

        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

        map.addListener('bounds_changed', function() {
            searchBox.setBounds(map.getBounds());
        });
        button.addEventListener("click", fetchFunction);
        function fetchFunction(evt) {
            evt.preventDefault();
            fetch(`/api/meteorites?min=${min.value}&max=${max.value}`)
                .then(function (response) {
                    return response.json();
                }).then(plotMarkers);
        }


        function plotMarkers(m) {
            if(markers) {
                for (var i = 0; i < markers.length; i++) {
                    markers[i].setMap(null);
                }
            }

            markers = [];
            bounds = new google.maps.LatLngBounds();
            console.log(map);
            m.forEach(function (marker) {
                //create text windows for marker
                var position = new google.maps.LatLng(marker.recLat, marker.recLong);
    //            var image = 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQhx_YT41IWa9ggF3ebidlsIvUnLNGvmz3GQf0Ml307bGQO0_OMZA';
                console.log(marker);
                markers.push(
                    new google.maps.Marker({
                        position: position,
                        map: map,
                        animation: google.maps.Animation.DROP,
                    })
                );
                bounds.extend(position);
            })
    //        map.fitBounds(bounds);
        }

        /*]]>*/
    </script>
    <script async="" defer=""
            th:src="@{https://maps.googleapis.com/maps/api/js?key=AIzaSyA8vYdX015NAwyoqmzYvnlBH8pA-QhdozQNo&amp;callback=initMap}">
    </script>

</body>
</html>
