<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/map_style.css}" href="../static/map_style.css" />
</head>
<body>

    <nav class="nav">
        <li><a href="/about"><h2>About</h2></a></li>
        <li><a href="/login"><h2>Login</h2></a></li>
        <li><a href="/register"><h2>Register</h2></a></li>
        <li><a href="/record"><h2>Record</h2></a></li>
        <li>
            <div sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}" method="post">
                    <input class="signout" type="submit" value="Sign Out"/>
                </form>
            </div>
        </li>
        <li>
            <div th:if="${param.logout}">
            You have been logged out.
            </div>
        </li>
    </nav>

    <div class="container">
        <h3>Meteorite Map Tool</h3>
        <div id="map"></div>
        <form class="map-form" action="/api/meteorites" method="GET">
            <fieldset>
                <legend class="fieldset">Search Meteorites</legend>
                <input id="min" type="text" name="min" min="860" placeholder="Start Year"/>
                <input id="max" type="text" name="max" max="2015" placeholder="End Year"/>
                <select name="fall" id="fall">
                    <option value="">Discovery Method</option>
                    <option value="">All</option>
                    <option value="Fell">Fell</option>
                    <option value="Found">Found</option>
                </select>
                <button id="button" type="submit">Search</button>
            </fieldset>
        </form>
        <div>
            <h2 th:text="${message}"></h2>
        </div>
    </div>



    <script th:inline="javascript">

        /*<![CDATA[*/

        let map;
        let markers;
        let bounds;

        function initMap() {

            var origin = {lat: 32.897480, lng: -97.040443};
            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 7,
                center: origin
            });
            var marker = new google.maps.Marker({
                position: origin,
                map: map,
                visible: false
            });
        }

        const button = document.querySelector("#button");
        const narrowButton = document.querySelector("#narrowButton");
        const min = document.querySelector("#min");
        const max = document.querySelector("#max");
        const fall = document.querySelector("#fall");
//        const mass = document.querySelector("#mass");


        button.addEventListener("click", fetchFunction);
//        narrowButton.addEventListener("click", narrowFunction);

        function fetchFunction(evt) {
            evt.preventDefault();
            fetch(`/api/meteorites?min=${min.value}&max=${max.value}&fall=${fall.value}`)
                .then(function (response) {
                    return response.json();
                }).then(plotMarkers);
        }

        function plotMarkers(m) {

            if(markers) {
                for (var i = 0; i < markers.length; i++) {
                    markers[i].setMap(null);
                }
            }
            markers = [];
            bounds = new google.maps.LatLngBounds();
            console.log(map);
            let icon = {
                url: '/if_meteor_749391.png',
                origin: new google.maps.Point(0,0)
            };
            m.forEach(function (o) {
                //create text windows for marker
                var contentString = `Name: ${o.name} <br> Class: ${o.recClass}<br>
                Mass: ${o.mass} <br> Discovery Method: ${o.fall} <br> Found at Location: ${o.recLat}, ${o.recLong}
                `;
                var position = new google.maps.LatLng(o.recLat, o.recLong);
                var infoWindow = new google.maps.InfoWindow({
                    content: contentString
                });

                var marker = new google.maps.Marker({
                    position: position,
                    map: map,
                    icon: icon,
//                    animation: google.maps.Animation.DROP,
                    infoWindow: infoWindow
                });
                marker.addListener("click", () => {
                    infoWindow.open(map, marker);
                });
                markers.push(
                    marker
                );
                bounds.extend(position);
            })
    //        map.fitBounds(bounds);
        }

        /*]]>*/
    </script>
    <script async="" defer=""
            th:src="@{https://maps.googleapis.com/maps/api/js?key=AIzaSyCaW2ylTZNsxjLnvVrmcTj5Cl8LXt77mTU&amp;callback=initMap}">
    </script>

</body>
</html>
