<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Register</title>
        <link rel="stylesheet" type="text/css" th:href="@{/map_style.css}" href="../static/map_style.css" />
    </head>
    <body>

        <nav class="nav">
            <li><a href="/map"><h2>Map</h2></a></li>
            <li><a href="/about"><h2>About</h2></a></li>
            <li><a href="/login"><h2>Login</h2></a></li>
        </nav>

        <form class="form" th:action="@{/register}" method="post">
            <h2>Register</h2>
            <input type="text" name="firstName" placeholder="First Name"/>
            <input type="text" name="lastName" placeholder="Last Name"/>
            <input type="text" name="username" placeholder="Username"/>
            <input type="password" name="password" placeholder="Password"/>
            <input type="email" name="email" placeholder="E-Mail"/>
            <button type="submit">Login</button>
        </form>

    </body>
</html>